body {
    max-width: 70%;
    background-color: blanchedalmond;
    margin: auto;
}
:focus {
    outline: none;
}
.ac-section{
    cursor: pointer;
}
.ac-section:hover .cross {
    background-image: url('../asset/svg/cross_plus.svg');
    background-repeat: no-repeat;
    transition: 1s;
}
.ac-section:hover .item-header {
    color: black;
    transition: 1s;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
.accordeon-header{
    color: black;
    font-weight: 700;
    font-size: 2em;
    padding: 0.5em;
}
.item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: blue;
}
.cross {
    width: 1.6em;
    height: 1.6em;
}
.item {
    font-weight: 700;
    font-size: 1.5em;
    border-top: 0.1em solid gray;
    padding: 0.5em;
    height: auto;
    overflow: hidden;
    max-height: 1.6em;
    background: none;
    transition: max-height 1s;
}
.item:hover{
    max-height: 15em;
}
.item:hover .cross{
    background-image: url('../asset/svg/cross.svg');
    background-repeat: no-repeat;
    transition: 1s;
}
.item:active  {
    opacity: 0.5;
    cursor:grabbing;
}
.item:focus .item-header{
    color: black;
}
.item:active .item-header {
    color: blue;
}
.item:focus {
    max-height: 15em;
}
.item:focus .cross{
    background-image: url('../asset/svg/cross.svg');
    background-repeat: no-repeat;
    transition: 1s;
}
.picture {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0.5em;
    height: 13em;
    min-height: 13em;
    transition: 1s;
}
.item:hover .picture{
    transform: rotate(360deg);
}
@media (max-width: 820px){
    .accordeon-header{
        font-size: 1.5em;
    }
    .item {
        font-size: 1em;
    }
    .cross {
        width: 1.7em;
        height: 1.7em;
    }
}
@media (max-width: 320px){
    .accordeon-header{
        font-size: 1em;
    }
    .item {
        font-size: 0.6em;
    }
    .cross {
        width: 1.5em;
        height: 1.5em;
    }
    .picture {
        margin: 0.8em;
    }
}